node_modules
dist
.parcel-cache
.DS_Store
config/mappings.json
config/my-mappings.json
config/personal-mappings.json
config/work-mappings.json
g2tab.zip
src/config/mappings.json
src/config/my-mappings.json
src/config/personal-mappings.json
src/config/sample-mappings.json
src/config/work-mappings.json
