/* styles/popup.css */

body {
  margin: 15px;
  font-family: Arial, sans-serif;
  background-color: #050505;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: #c3eefa;
}

hr {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

.mappings {
  width: 50em;
  display: flex;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  flex-direction: row;
  border-radius: 1em;
  border: 1px solid grey;
  flex-wrap: wrap;
}

.mapping-item {
  margin-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-basis: 20%;
}

.key {
  font-style: italic;
  font-weight: bold;
  font-size: 1.5em;
  color: #c3eefa;
  padding-right: 8px;
  width: 1em;
}

.name {
  font-size: 1.2em;
  color: #f2f2f2;
}

.keymap-entry {
  display: flex;
  flex-direction: row;
  padding: 5px;
  flex-grow: 1;
  column-gap: 1px;
}

.settings {
  padding: 5px;
  flex-direction: column;
}

.keymap-entry > .name {
  flex: 1;
  color: black;
}

.keymap-entry > .search-text {
  flex: 3;
}

.keymap-entry > .url {
  flex: 3;
}
